<?xml version="1.0"?>
<!-- ===================================================================================== -->
<!-- |    这份文件是机器人描述文件，它定义了人形机器人的肢体和关节的形态、运动方式以及运动限制。 | -->
<!-- |    作者：pandasar@2024.12, strtrek@2025.6       开源协议：Apache License 2.0        | -->
<!-- ===================================================================================== -->

<!-- 机器人整体组装描述文件 -->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="robot_assembly_all">
    <!-- 加载：预定义物理仿真定义 -->
    <xacro:include filename="color_macros.xacro"/>
    <!-- 动惯量 -->
    <!-- 包括：球体（inertial_sphere） 长方体（inertial_box） 圆柱体（inertial_cylinder） -->
    <xacro:include filename="inertial_macros.xacro"/>

    <!-- 加载：预定义机器人部件 -->
    <!-- 机器人（robot） -->
    <!-- 机器人·躯干（body） -->
    <xacro:include filename="robot_macros_body.xacro"/>
    <!-- 机器人·头部（head）【偏航（yaw: -90°～90°）俯仰（pitch: -45°～45°）】 -->
    <xacro:include filename="robot_macros_head.xacro"/>
    <!-- 机器人·腰部（waist）【俯仰（pitch: -17°～45°）滚转（roll: -40°～40°）偏航（yaw: -45°～45°）】 -->
    <xacro:include filename="robot_macros_waist.xacro"/>
 
    <!-- 机器人·上肢（upper limbs） -->
    <!-- 机器人·上臂（arm）【俯仰（pitch: -170°～170°）滚转（roll: -105°～105°）】X2 -->
    <xacro:include filename="robot_macros_arm.xacro"/>
    <!-- 机器人·前臂（forearm）【俯仰（pitch: -170°～170°）滚转（roll: 0°～170°）】X2 -->
    <xacro:include filename="robot_macros_forearm.xacro"/>
    <!-- 机器人·手（hand）【俯仰（pitch: -170°～170°）滚转（roll: -105°～105°）偏航（yaw: -60°～60°）】X2 -->
    <xacro:include filename="robot_macros_hand.xacro"/>
    
    <!-- 机器人·下肢（lower limbs） -->
    <!-- 机器人·大腿（thigh）【滚转（roll l: -10°～25° r: -25°～10°）偏航（yaw: -40°～40°）俯仰（pitch: -45°～105°）】X2 -->
    <xacro:include filename="robot_macros_thigh.xacro"/>
    <!-- 机器人·小腿（calf）【俯仰（pitch: -135°～5°）】X2 -->
    <xacro:include filename="robot_macros_calf.xacro"/>
    <!-- 机器人·脚部（foot）【俯仰（pitch: -25°～35°）滚转（roll: -25°～25°）】X2 -->
    <xacro:include filename="robot_macros_foot.xacro"/>
    
    <!-- 相机（camera） -->
    <!-- 空间传感器（spatial-sensor） -->
    <!-- 协同工作传感器（synergosensor） -->


    <!-- 定义自身视角坐标系 -->
    <!-- ROS2 世界坐标系 -->
    <link name="base_link"/>

    
    <!-- 组装：机器人 -->
    <!-- 此处定义您的 robot_description 节点包的名字 -->
    <xacro:property name="my_robot" value="azureloong_description"/>
    <!-- 此处定义您的机器人涂装色彩 -->
    <!-- 包括：白色（white） 橙色（orange） 蓝色（blue） 黑色（black）       -->  
    <!-- 灰色（gray） 绿色（green） 红色（red） 黄色（yellow） 紫色（purple）-->
    <!-- 粉色（pink） 青色（cyan） 棕色（brown） 金色（gold） 银色（silver） -->
    <!-- 青龙风（azureloong_style）                                     -->
    <xacro:property name="my_color" value="brown"/>
    
    <!-- 组装：机器人·躯体 -->
    <!-- 组装机器人·躯干 -->
    <xacro:robot_body name="body" base="base_link" color="${my_color}"/>
    <!-- 组装机器人·头部【偏航（yaw：-90°～90°）俯仰（pitch：-45°～45°）】 -->
    <xacro:robot_head name="head" base="body" color="${my_color}"/>
    <!-- 组装机器人·腰部【俯仰（pitch: -17°～45°）滚转（roll: -40°～40°）偏航（yaw: -45°～45°）】 -->
    <xacro:robot_waist name="waist" base="body" color="${my_color}"/>
    
    <!-- 组装：机器人·下肢 -->
    <!-- 组装机器人·左大腿【滚转（roll l: -10°～25°）偏航（yaw: -40°～40°）俯仰（pitch: -45°～105°）】 -->
    <xacro:robot_thigh name="thigh" laterality="l" base="waist" color="${my_color}"/>
    <!-- 组装机器人·右大腿【滚转（roll r: -25°～10°）偏航（yaw: -40°～40°）俯仰（pitch: -45°～105°）】 -->
    <xacro:robot_thigh name="thigh" laterality="r" base="waist" color="${my_color}"/>
    <!-- 组装机器人·左小腿【俯仰（pitch: -135°～5°）】 -->
    <xacro:robot_calf name="calf" laterality="l" base="thigh" color="${my_color}"/>
    <!-- 组装机器人·右小腿【俯仰（pitch: -135°～5°）】 -->
    <xacro:robot_calf name="calf" laterality="r" base="thigh" color="${my_color}"/>
    <!-- 组装机器人·左脚【俯仰（pitch: -25°～35°）滚转（roll: -25°～25°）】 -->
    <xacro:robot_foot name="foot" laterality="l" base="calf" color="${my_color}"/>
    <!-- 组装机器人·右脚【俯仰（pitch: -25°～35°）滚转（roll: -25°～25°）】 -->
    <xacro:robot_foot name="foot" laterality="r" base="calf" color="${my_color}"/>

    <!-- 组装：机器人·上肢 -->
    <!-- 组装机器人·左上臂【俯仰（pitch: -170°～170°）滚转（roll: -105°～105°）】 -->
    <xacro:robot_arm name="arm" laterality="l" base="body" color="${my_color}"/>
    <!-- 组装机器人·右上臂【俯仰（pitch: -170°～170°）滚转（roll: -105°～105°）】 -->
    <xacro:robot_arm name="arm" laterality="r" base="body" color="${my_color}"/>
    <!-- 组装机器人·左前臂【俯仰（pitch: -170°～170°）滚转（roll: 0°～170°）】 -->
    <xacro:robot_forearm name="forearm" laterality="l" base="arm" color="${my_color}"/>
    <!-- 组装机器人·右前臂【俯仰（pitch: -170°～170°）滚转（roll: 0°～170°）】 -->
    <xacro:robot_forearm name="forearm" laterality="r" base="arm" color="${my_color}"/>
    <!-- 组装机器人·左手【俯仰（pitch: -170°～170°）滚转（roll: -105°～105°）偏航（yaw: -60°～60°）】 -->
    <xacro:robot_hand name="hand" laterality="l" base="forearm" color="${my_color}"/>
    <!-- 组装机器人·右手【俯仰（pitch: -170°～170°）滚转（roll: -105°～105°）偏航（yaw: -60°～60°）】 -->
    <xacro:robot_hand name="hand" laterality="r" base="forearm" color="${my_color}"/>

</robot>